body {
  margin: 0;
  padding:0;
  background: #000;
}

header {
  height: 1200px;
  background: #000000;
}

footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  background-color: #000000;
  color: #fff;
  height: 300px;
}

.social-integrantes i {
  display: flex;
  flex-basis: 100%;
}

.social-info {
  width: 100%;
  background-color: #000000;
  display: flexbox;
}

.name-footer {
  color: rgb(255, 255, 255);
  font-size: 21px;
  display: flex;
  font-family: fantasy;
}

.social-info-icon {
width: 100%;
justify-content: space-between;
}

.social-info p {
  width: 100%;
  font-size: 50px;
  text-align:right;
  font-family: fantasy;
}

.social-info i {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  color: #ffffff;
}

.integrantes i {
  width: 100%;
  font-size: 50px;
  color: #fff;
}
  