*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}


footer{
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.social-icons-container, .footer-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icons-container i{
  font-size:75px;
  color: #ffffff;
}

.social-icon{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin:1rem;
}


.footer-menu-container{
  list-style-type: none;
  color: #ffffff;
  font-size: 20px;
}

.menu-item{
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}


.copyright{
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}