/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}


/*NAV BAR*/

.menu {
  background-color: black;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
  text-decoration: none;
  color: #fa6b37;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
}

/********NAVBAR**********/
.nav {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.nav li {
  border-radius: 3px;
  margin: 0 5px;
}

.nav li a{
  padding: 7px 13px;
  text-decoration: none;
  font-size: bold;
  display: block;
  text-transform: uppercase;
  color: #fff;
}

.nav li:hover, li.activate {
  background-color: rgba(0, 0, 0, .3);
}

/*MENu ITEMS*/
.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #fa6b37;
  border-right: 3px solid #fa6b37;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #fa6b37;
  border-left: 3px solid #fa6b37;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #fa6b37;
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

/*
@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }

  .menu_items li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 952px) {
  .menu {
    height: 65px;
  }

  .btn_menu {
    display: inline-flex;
  }

  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }

  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }

  .menu_items li:hover {
    background: none;
  }

  .menu_items li a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }

  .menu_items li a:hover {
    color: black;
  }

  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }

  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}
*/

/*HEADER CONTENT*/
header {
    background-color: black;
}

.haeder-content {
  width: 90%;
  margin: auto;
  height: 90vh;
  background-color: black;
  display: flex;
  padding-bottom: 40px;
}

.haeder-content-information {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  color: white;
  font-size: 30px;
}

.haeder-content-information h1 {
  font-size: 100px;
  text-align: center;
  padding-bottom: 30px;
  background: -webkit-linear-gradient(#fa6b37, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.haeder-content-information p {
  text-align: center;
  width: 70%
}

.header-content-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content-img-home {
  background-image: url('../assets/img/header_devices.png');
}

.header-content-img-radio {
    background-image: url('../assets/img/header-about.png');
}

.header-content-img-login {
    background-image: url('../assets/img/header_login.jpg');
}

.header-content-img-tematic {
    background-image: url('../assets/img/header-content.png');
}

/***************************/
/*
.ov-btn-slide-left {
  background: #fa6b37;
  color: #ffffff; 
  border: 2px solid #ffffff; 
  padding: 16px 20px;
  border-radius: 3px;
  margin-top: 30px;
  font-size: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.ov-btn-slide-left:hover {
  color: #fa6b37; 
  border: 2px solid #fa6b37;
}
.ov-btn-slide-left::after {
  content: "";
  background: #fff; 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-left:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}*/
/*********************/

.haeder-content-information a {
  position: relative;
  padding: 20px;
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
  background-color: #fa6b37;
  font-size: 30px;
  border-radius: 2px;
}

/*MENu ITEMS*/
.haeder-content-information * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.haeder-content-information a::before,
.haeder-content-information a::after {
  content: '';
  height: 50px;
  width: 50px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.haeder-content-information a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 5px solid #fa6b37;
  border-right: 5px solid #fa6b37;
  transform: translate(-100%, 50%);
}

.haeder-content-information a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #fa6b37;
  border-left: 5px solid #fa6b37;
  transform: translate(100%, -50%)
}

.haeder-content-information a:hover:before,
.haeder-content-information a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.haeder-content-information a:hover {
  color: #fa6b37;
  background-color: black;
}